/* This should not go here */
body {
    --webkit-transform: scale(1);
    --ms-transform: scale(1);
    transform: scale(1);
}

.container {
    display: flex;
    justify-content: center;
}

.input {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: none;
    z-index: -1;
    resize: none;
}